body {
    min-height: 100%;
}

form {
    padding-top: 20%;

    margin: auto;
    width: max-content;

    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 5vmin;
}

td {
    padding: 1vmin;
}

input {
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 3vmin;
}