body {
    padding: 1vmin;
}

img {
    width: 50vmin;
    height: 50vmin;
}

.name {
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 3vmin;
}

.parameter {
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 2vmin;
}