table {
    padding: 1%;
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 2vmin;
}

img {
    width: 35vmin;
    height: 35vmin;
}

td a:hover {
    color: black;
}

td a {
    text-decoration: none;
    color: black;
}